.contactItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #000;
  font-family: Poppins;
  font-size: 14px;

  line-height: normal;
  letter-spacing: 0.96px;
}

.contactItemBtn {
  background-color: rgba(102, 106, 245, 0.7);
  border: none;
  outline: none;
  border-radius: 8px;
  height: 28px;
  max-width: 80px;

  color: #fff;
  font-family: Poppins;
  font-size: 12px;

  line-height: normal;
  letter-spacing: 1.6px;
}

.contactItemName {
  color: rgba(102, 106, 245, 0.7);
  font-weight: 600;
}
