.container {
  max-width: 80%;
  margin: 0 auto;
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0px 20px 30px 0px rgba(102, 106, 245, 0.13);
  padding-top: 40px;
  padding-inline: 50px;
  padding-bottom: 32px;
}

.wrapper {
  max-width: 400px;
  margin: 0 auto;
}

.phonebookTitle {
  color: #7e86f6;
  font-family: Oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.92px;
  margin-bottom: 40px;
}

.contactListTitle {
  color: #7e86f6;
  font-family: Oswald;
  font-size: 20px;

  font-weight: 400;

  letter-spacing: 1.92px;
  margin-bottom: 40px;
}

.errorMessageWrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.errorMessage,
.errorMessageMain {
  max-width: 60%;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}

.errorMessageMain {
  font-size: 48px;
  font-weight: 600;
}
