.filterTitle {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.12px;

  display: flex;
  align-items: center;
  gap: 12px;

  margin-bottom: 20px;
}

.filterInput {
  width: 100%;
  flex-shrink: 1;
  height: 30px;
  border: none;
  outline: none;
  background-color: #f5f5ff;
  border-radius: 6px;
  padding: 10px 16px;
  font-size: 14px;
}

@media (min-width: 768px) {
  .filterInput {
    height: 34px;
    padding: 12px 18px;
  }
}

@media (min-width: 1200px) {
  .filterTitle {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .filterInput {
    height: 40px;
    padding: 14px 20px;
  }
  .filterInput {
    font-size: 16px;
  }
}
