.filterTitle {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.12px;

  display: flex;
  gap: 12px;

  margin-bottom: 20px;
}

.filterInput {
  width: 100%;
  flex-shrink: 1;
  height: 30px;
  border: none;
  outline: none;
  background-color: #f5f5ff;
  border-radius: 6px;
  padding: 10px 16px;
}
