.phonebookTitle {
  color: #7e86f6;
  font-family: Oswald;
  font-size: calc(var(--index) * 1.6);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.92px;
  margin-bottom: 40px;
}

.wrapper {
  max-width: 400px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .wrapper {
    max-width: 500px;
  }
}
