.formLabel {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.12px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-bottom: 40px;
}

.formInput {
  background: #f5f5ff;
  width: 100%;
  height: 44px;
  padding: 16px 20px;
  border: none;
  outline: none;
}

.formInput::placeholder {
  color: #9f9f9f;
  font-family: Poppins;
  font-size: 12px;

  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.96px;
}

.submitBtn {
  width: 100%;
  height: 44px;
  background: #6569f6;
  border: none;
  outline: none;

  color: #fff;
  font-family: Poppins;
  font-size: 14px;

  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.6px;
}

.submitBtn:disabled {
  background-color: rgba(102, 106, 245, 0.7);
}
