.mainHeader {
  text-align: center;
  color: #7e86f6;
  font-family: Oswald;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.92px;
  margin-bottom: 30px;
}

.text {
  color: #000;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.96px;
}

.text + .text {
  margin-top: 12px;
  margin-bottom: 32px;
}

.homeBtn {
  min-width: 120px;
  height: 54px;
  background: #7e86f6;
  text-align: center;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 1.6px;
  padding: 16px 20px;
  border-radius: 8px;
}

.homeBtnWrap {
  display: flex;
  gap: 24px;
  justify-content: center;
}
