.mainHeader {
  text-align: center;
  color: #7e86f6;
  font-family: Oswald;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.92px;
  margin-bottom: 30px;
}

.text {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.96px;
}

.text + .text {
  margin-top: 12px;
  margin-bottom: 32px;
}

.homeBtnWrap {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.homeBtn {
  min-width: 90px;

  background: #7e86f6;
  text-align: center;
  color: #fff;
  font-family: Poppins;
  border-radius: 8px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 1.6px;

  font-size: 16px;
  padding: 12px 16px;
}

@media (min-width: 480px) {
  .homeBtn {
    padding: 16px 20px;
  }
}

@media (min-width: 768px) {
  .text {
    font-size: 16px;
  }
  .homeBtn {
    font-size: 18px;
  }
  .mainHeader {
    font-size: 40px;
  }
}
@media (min-width: 1200px) {
  .homeBtn {
    padding: 20px 24px;
  }
  .text {
    font-size: 18px;
  }
  .homeBtn {
    font-size: 20px;
  }
  .mainHeader {
    font-size: 48px;
  }
}
