.wrapper {
  max-width: 400px;
  margin: 0 auto;
}

.formLabel {
  color: #000;
  font-family: Poppins;
  font-size: calc(var(--index) * 0.9);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.12px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.formInput {
  background: #f5f5ff;
  width: 100%;
  height: 44px;
  padding: 16px 20px;
  border: none;
  outline: none;
  font-size: calc(var(--index) * 0.7);
}

.formInput::placeholder {
  color: #9f9f9f;
  font-family: Poppins;
  font-size: calc(var(--index) * 0.7);

  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.96px;
}

.submitBtn {
  width: 100%;
  padding: 14px 0;
  background: #6569f6;
  border: none;
  outline: none;

  color: #fff;
  font-family: Poppins;
  font-size: calc(var(--index) * 0.8);

  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.6px;
}

.submitBtn:disabled {
  background-color: rgba(102, 106, 245, 0.7);
}

@media screen and (min-width: 768px) {
  .formLabel {
    font-size: calc(var(--index) * 0.8);
  }
  .formInput {
    height: 48px;
    padding: 18px 22px;
  }
  .submitBtn {
    padding: 16px 0;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
    max-width: 500px;
  }
  .formLabel {
    gap: 12px;
  }
  .formInput {
    height: 52px;
    padding: 10px 24px;
    border: none;
    outline: none;
  }
  .submitBtn {
    padding: 18px 0;
  }
}
