.contactList {
  display: flex;
  flex-direction: column;
  gap: 14px;
  list-style: square;
}

.contactListText {
  text-align: center;
  font-size: 14px;
}

@media (min-width: 768px) {
  .contactListText {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .contactListText {
    font-size: 22px;
  }
}
